body {
    /* Red, green, blue, alpha */
    background-color: rgba(255, 0, 0, 1.0);
}

h1 {
    background-color: #ffffff;
    text-align: center;
}

h2{
    text-decoration: underline;
    font-size: 20px;
}

h3 {
    color: plum;
}