body {
    background-color: #BCE7D0;
    font-family: 'monaco', monospace;
}

header, footer {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #74a88c;
    padding: 20px;
    margin: -10px;
}

h1 {
    color: #3b5547;
    font-weight: 600;
    text-align: center;
    letter-spacing: 7%;
}

h2 {
    font-weight: 400;
}

.title-cap {
    text-decoration: #3b5547 underline;
    text-underline-offset: 25px;
}

.navi-bar > ul {
    margin-left:-40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 30px;
    gap:10%;
    justify-content:center;
    align-content:center;
    align-items: center;
    justify-items: center;
    list-style-type: none;
}

.navi-bar > ul > .toc-item:link {
    display: inline-block;
    font-size: 20px;
}

.navi-bar > ul > li > .toc-item:hover {
    background-color: #BCE7D0;
    font-size: 25px;
}

.navi-bar > ul > li > .toc-item:visited {
    color: #3b5547;
    font-size: 25px;
}

main {
    position: relative;
    margin-top: 45px;
}
