body {
    background-color: #BCE7D0;
    font-family: 'monaco', monospace;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #74a88c;
    padding: 20px;
    margin: -10px -10px 0 -10px;
}

h1 {
    font-weight: 600;
    text-align: center;
}

.title-cap {
    text-decoration: green underline;
    text-underline-offset: 25px;
}

.navi-bar > ol {
    margin-left:-40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 30px;
    gap:10%;
    justify-content:center;
    align-content:center;
    align-items: center;
    justify-items: center;
}

.navi-bar > ol > .toc-item {
    display: inline-block;
    font-size: 20px;
}

h2 {
    font-weight: 400;
}
